package ui_pages

import "github.com/bata94/apiright/example/ui/layouts"

templ TemplTest() {
  @ui_layouts.BaseLayout() {
    <h1 class="text-3xl font-bold underline">Welcome to ApiRight</h1>
    <h1 class="text-3xl font-bold underline">TemplTest</h1>
    @templ.Fragment("inside") {
      <h1 class="text-3xl font-bold underline">Inside TemplTest</h1>
    }
  }
}
