package ui_components

templ Footer() {
  <div class="footer bg-base-200 text-base-content absolute inset-x-0 bottom-0">
    <p>
      Made with:
      <a href="https://github.com/bata94/apiright">Apiright</a>
    </p>
  </div>
}
